# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Environment / secrets
.env
*.env.local

# Docker
*.log

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
